html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
nav {
  width: 100%;
  background-color: #dcdcdc;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  display: inline-block;
}

.nav-links {
  background-color: #dcdcdc;
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 9px 10px 9px;
  text-decoration: none;
  color: black;
  font-family: arial;
  font-size: 12px;
}

.nav-item:hover {
  background-color: black;
}

.nav-item:hover a {
  color: white;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

.tab { 
  text-indent: 40px; 
}

p { 
  color: black; 
  font-family: Arial;
}

.paragraphs {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
}

.spaceabove {
  margin-top: 40px;
}
.title {
  font-family: Arial; 
  font-weight: bold; 
  font-size: 130px; 
  margin-left: 30px;
}

.name {
  font-family: Arial; 
  font-size: 70px; 
  margin-left: 30px;
}

.teacher {
  font-family: Arial; 
  font-size: 40px;
  margin-left: 30px;
}

.date {
  font-family: Arial; 
  font-size: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 800px) {
  .embed {
    width: 400px;
    height: 500px;
  }
  .nav-links {
    flex-wrap: wrap;
  }
  .title {
    font-size: 75px;
  }
  .name {
    font-size: 40px;
  }
  .teacher {
    font-size: 25px;
  }
  .date {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .embed {
    width: 300px;
    height: 400px;
  }
  .title {
    font-size: 45px;
  }
  .name {
    font-size: 25px;
  }
  .teacher {
    font-size: 15px;
  }
  .date {
    font-size: 11px;
  }
  .paragraphs {
    font-size: 11px;
  }
}

